{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
{% endblock style %}
{% block content %}
<!-- start: Chat -->
<section class="chat-section">
    <div class="chat-container">
        {% include '_partials/sidebar.html' %}
        <!-- start: Content -->
        <div class="chat-content">
            <!-- start: Content side -->
            <div class="content-sidebar">
                <div class="content-sidebar-title">Groups</div>
                <button id="new-group" class="new-button btn btn-lg btn-outline-secondary rounded-circle"data-bs-toggle="modal" data-bs-target="#create-group-modal">
                    <i class="ri-group-line"></i>
                </button>
                <form class="content-sidebar-form" style="display: none;">
                    <input type="search" class="content-sidebar-input" placeholder="Search..." id="searchInput">
                    <button type="button" class="content-sidebar-submit" id="searchButton"><i class="ri-search-line"></i></button>
                </form>
                <div class="content-messages">
                    <ul class="content-messages-list" id="groups-container">
                        <!-- <li class="content-message-title"><span>Recent</span></li>                       -->
                    </ul>
                </div>
            </div>
            <!-- end: Content side -->
            <!-- start: Conversation -->
            <div class="conversation conversation-default">
                <i class="ri-chat-3-line"></i>
                <h3>HiChat Chat App</h3>
                <p>Select chat to view conversation or start chatting!</p>  
                <p>Your chats appear on this window.</p>          
            </div>
            <!-- end: Conversation -->
        </div>
        <!-- end: Content -->
    </div>
</section>
<!-- end: Chat -->

    <!-- Modal -->
<div class="modal fade" id="create-group-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'includes/new_group_form.html' %}
            </div>
            <!-- modal-footer -->
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{{ url_for('static', filename='js/group/group_list.js') }}"></script>
{% endblock script %}