{% extends 'auth-layout.html' %}
{% block content %}
    <div class="container form">
        <header class="pb-2">Verify Email</header>
        <form action="{{ url_for('auth_view.verify_request') }}" method="post">
            {{ form.hidden_tag() }}
            {% if errors %}
            <div class="error-text my-3">
                {% for error in errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="mb-2 field input">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
            <div class="submit">
                {{ form.submit(class="btn btn-primary my-2 field button") }}
            </div>  
        </form>
        <div class="link text-center my-2">Back to <a href="{{ url_for('auth_view.login') }}">login</a></div>
    </div>

    <!-- <div class="form"> 
        <header class="text-center mb-2 pb-2">Verify Email</header>
        <form action="{{ url_for('auth_view.verify_request') }}" method="post" hx-post="{{ url_for('auth_view.verify_request') }}" hx-redirect="true">
            {% if errors %}
            <div class="error-text my-3">
                {% for error in errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                placeholder="Enter your Email"
                required
                />
            </div>
            <button class="btn btn-primary w-100" type="submit">Request Verification</button>
        </form>
        <div class="text-center my-3">Back to <a href="{{ url_for('auth_view.login') }}">login</a></div>
    </div> -->

{% endblock content %}